@model Task1.Models.Osoba

@{
    ViewData["Title"] = "Usuń";
}

<h1>Usuń</h1>

<h3>Czy jesteś pewien, że chcesz usunąć tę osobę</h3>
<div>
    <h4>Osoba</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("Imię")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Nazwisko")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("ID Samochodu")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Samochod.SamochodId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Data Produkcji")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataProd)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OsobaId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć do listy</a>
    </form>
</div>
